.row1 {
    margin-left: 5%;
    padding: 2.5%;
    width: 90%;
    font-family: "Dancing Script";
    text-align: center;
    font-size: 36px;

    mat-icon {
        font-size: 60px;
    }
}

.row2colonne1 {
    margin-top: 2.5%;
    margin-left: 5%;
    padding: 2.5%;
    width: 44%;
    font-family: "Dancing Script";
    text-align: center;
    font-size: 36px;

    mat-icon {
        font-size: 60px;
    }
}

.row2colonne2 {
    margin-top: 2.5%;
    margin-left: 2%;
    padding: 2.5%;
    width: 44%;
    font-family: "Dancing Script";
    text-align: center;
    font-size: 36px;

    mat-icon {
        font-size: 60px;
    }
}